*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /* box-sizing: border-box;
    border: 1px solid black; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/nen1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    /* background-color: #d0d0d0; */
    /* backdrop-filter: blur(20px); */
    background: url('img/nen1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header img{
    height: 100px;
    width: 100px;
    padding-left: 20px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    text-shadow: 0 1px 0 #efefef,
				 0 2px 0 #efefef,
				 0 3px 0 #efefef,
				 0 4px 0 #efefef,
				 0 30px 5px rgba(0,0,0,.1);
     animation: floating 2s linear infinite; 
     animation-direction: alternate;           
}
@keyframes floating {
    0%{
        transform: rotate(10deg);
    }
   100%{
        transform: rotate(-10deg);
    }
}
header .navigation a {
    position: relative;
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-weight: 300;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
}
header .navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
header .navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
header .navigation .nutdn{
    width: 110px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}
header .navigation .nutdn:hover{
    background: #fff;
    color: #19240c;

}
.navigation .active{
    color: #fff;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);/*làm mờ nền*/
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;/*căn giữa các thành phần tử con theo chiều ngang*/
    align-items: center;/*căn giữa các thành phần tử con theo chiều dọc*/
    overflow: hidden;
    transform: scale(0);/*thu nhỏ wrapper xuống 0*/
    transition: transform .5s ease, height .2s ease;/*tạo hiệu ứng cho transform*/
    margin-top: 13px;
    margin-left: 70px;
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-login {
    width: 100%;
    padding: 40px;
}
.wrapper .form-login{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-register{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #19240c;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-login h2{
    font-size: 2em;
    color: #19240c;
    text-align: center;
}
.form-register h2{
    font-size: 2em;
    color: #19240c;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #19240c;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #19240c;
    font-weight: 500;
    pointer-events: none;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #19240c;
    font-weight: 600; 

}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #19240c;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color: #19240c;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #19240c;
    margin-right: 3px;
}
.remember-forgot a{
    color: #19240c;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #19240c;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #19240c;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color: #19240c;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
header p{
    position: absolute;
    font-size: 1.5em;
    left: 50px;
    margin-left: -200px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    left: 300px;
}
#main{
    width: 65%;
}
#left{
    width: 30%;
    float:left;
  }
    #left h1{
        background-color: #00a8ff;
        margin: 0px auto;
        height: 30px;
        width: 90%;
        text-align: center;
        line-height: 30px;
        color: black;
        margin-top: 10px;
        border-radius: 10px;
        font-size: large;
        font-family: 'Times New Roman', Times, serif;
    }
      .tabs{
          background-color: none;
          width: 90%;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-left: 10px;
          margin-top: 10px;
          padding-left: 25px;
          padding-right: 25px;
          list-style-type: none;
          line-height: 40px;
      }
      .tab-item{
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
          border-bottom: 1px solid rgb(198, 191, 205);
          color: black;
          font-family: 'Times New Roman', Times, serif;
          font-size: medium;
      }
      .tab-item:hover {
          /* border-bottom: 1.5px solid #00a8ff; */
          cursor: pointer;
          color:  #00a8ff;
  
      }
      .tab-item.active {
          opacity: 1;
          color: #00a8ff;
          background-color: #f1f2f6;
          border-bottom: 1.5px solid #00a8ff;
        }
      #left li a{
         color: black;  
         font-family: 'Times New Roman', Times, serif;
         text-align: center;
      }
      #left li a:hover{
          color: black;  
          font-family: 'Times New Roman', Times, serif;
          text-align: center;
       }

#right {
    float: right;
    width: 70%;
    border-left: 1px solid #778ca3;
    height: 500px;
    /* width: 600px; */
}
  .noidung {
    /* background-color: #dfe4ea; */
    backdrop-filter: blur(20px);
    height: 470px;
    border-radius: 10px;
    width: 90%;
    margin: 0px auto;
    
  }
  .thongtin img {
    width: 150px;
    height: 150px;
    margin-left: 225px;
}
    .thongtin {
      display: none;
      height: 0px;
      margin-top: 10px;
      background-color: #778ca3;
    }
    .thongtin.active{
      display: block;
      background-color: #778ca3;
    }
    .thongtin h2{
      background-color:  #00a8ff;
      color: black;
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: 0px auto;
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      font-size: large;
      font-family: 'Times New Roman', Times, serif;
    }
    .thongtin p {
      background-color: no;
      color: #fff;
      height: 30px;
      text-align: left;
      line-height: 30px;
      margin-top: 15px;
      margin-left: 150px;
      width: auto;
      font-size: medium;
      font-family: 'Times New Roman', Times, serif;
      font-size: large;
    }
    .nut{
        text-decoration: none;
        font-size: 1em;
        color: #fff;
    }